<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Texts._Layout_Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .main.menu {
            margin-top: 4em;
            border-radius: 0;
            border: none;
            box-shadow: none;
            transition: box-shadow 0.5s ease, padding 0.5s ease;
            background-color: #eeeeee;
        }

            .main.menu .item img.logo {
                margin-right: 1.5em;
            }

        .overlay {
            float: left;
            margin: 0em 3em 1em 0em;
        }

            .overlay .menu {
                position: relative;
                left: 0;
                transition: left 0.5s ease;
            }

        .main.menu.fixed {
            background-color: #FFFFFF;
            border: 1px solid #DDD;
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
        }

        .overlay.fixed .menu {
            left: 800px;
        }

        .ui.footer.segment {
            margin: 5em 0em 0em;
            padding: 5em 0em;
        }

        body {
            background: url(http://www.pokewiki.de/images/e/e4/ORAS_Hoenn_Map.jpg) no-repeat center 8px fixed;
        }

        .ui.stacked.segment {
            margin-bottom: 5em;
        }
    </style>
</head>
<body>
    <div class="ui borderless main menu">
        <div class="ui container">
            <a class="header item" href="/">
                @Texts._Layout_Title
            </a>
            <a class="item" href="/pokemon/">@Texts._Layout_Pokemon</a>
            <a class="item" href="/attack/">@Texts._Layout_Attacks</a>
            @if (User.Identity.IsAuthenticated) {
                <a href="/user" class="item">@Texts._Layout_Usermanager</a>
            }
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="ui container">
        @RenderBody()
    </div>
    <div class="ui bottom fixed borderless menu" style="background-color: #eeeeee">
        <div class="ui container">
            <div class="item">
                @Html.Raw(Texts._Layout_Footer_Copyright)
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/semantic")
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            // fix main menu to page on passing
            $('.main.menu').visibility({
                type: 'fixed'
            });
        });
    </script>
</body>
</html>