@model DeleteAttackViewModel
@{
    ViewBag.Title = Texts.Attack_Delete_Title;
}

<div class="ui middle aligned center aligned grid">
    @using (Html.BeginForm("Delete", "Attack", FormMethod.Post, new { @class = "ui compact segment" })) {
        @Html.HiddenFor(m => m.Item.Id)
        <div class="ui secondary pointing menu">
            <div class="header item">@ViewBag.Title</div>
        </div>
        <div class="content">
            @string.Format(Texts.Attack_Delete_Content, Model.Item.GetLocalizedName())
        </div>
        <div class="ui right floated buttons">
            <a href="/Attack" class="ui button">@Texts.Attack_Delete_Cancel</a>
            <div class="or" data-text="@Texts.Or"></div>
            <button type="submit" class="ui animated submit primary button">
                <div class="visible content">@Texts.Attack_Delete_Submit</div>
                <div class="hidden content">
                    <i class="right save icon"></i>
                </div>
            </button>
        </div>
    }
</div>