@model HomePageViewModel
@{
    ViewBag.Title = Texts.Home_Index_Title;
}
<div class="ui middle aligned center aligned grid">
    <div class="ui twelve wide left aligned column stacked segment">
        <div class="ui secondary pointing menu">
            <div class="header item">@ViewBag.Title</div>
            <div class="right menu">
                <a data-tab="fighting" class="active item">@Texts.Home_Index_Fight</a>
                <a data-tab="xpcalc" class="item">@Texts.Home_Index_XpCalc</a>
            </div>
        </div>
        <div data-tab="fighting" class="ui active basic tab segment">
            <div class="ui grid form">
                <div class="ui eight wide column">
                    <h4 class="ui dividing header">@Texts.Home_Index_MyPokemon</h4>
                    <div class="inline field">
                        <label>@Texts.Home_Index_Level</label>
                        @Html.DropDownList("fight_mypokemon_level", new SelectList(Enumerable.Range(1, 100)), new { @class = "ui compact search dropdown" })
                        <label>@Texts.Home_Index_Pokemon</label>
                        <div class="ui search selection dropdown">
                            <div class="default text">@Texts.Home_Index_SearchPokemon</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                @foreach (var item in Model.Pokemon) {
                                    <div data-value="@item.Id" class="item">
                                        <img src="@Url.Action("GetThumbnail", "Pokemon", new { id = item.Id })" alt="" />
                                        @item.GetLocalizedName()
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui eight wide column">
                    <h4 class="ui dividing header">@Texts.Home_Index_OpponentPokemon</h4>
                    <div class="inline field">
                        <label>@Texts.Home_Index_Level</label>
                        @Html.DropDownList("fight_mypokemon_level", new SelectList(Enumerable.Range(1, 100)), new { @class = "ui compact search dropdown" })
                        <label>@Texts.Home_Index_Pokemon</label>
                        <div class="ui search selection dropdown">
                            <div class="default text">@Texts.Home_Index_SearchPokemon</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                @foreach (var item in Model.Pokemon) {
                                    <div data-value="@item.Id" class="item">
                                        <img src="@Url.Action("GetThumbnail", "Pokemon", new { id = item.Id })" alt="" />
                                        @item.GetLocalizedName()
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui sixteen wide column">
                    <h4 class="ui dividing header">@Texts.Home_Index_UsedAttack</h4>
                    <div class="ui fluid search selection dropdown">
                        <div class="default text">@Texts.Home_Index_SearchAttack</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            @foreach (var item in Model.Attacks) {
                                <div class="item">
                                    @item.GetLocalizedName()
                                    (@item.Type.DisplayName() &mdash; @Texts.Attack_List_Strength: @item.Strength)
                                </div>
                            }
                        </div>
                    </div>
                    <button class="ui primary button" type="button">@Texts.Home_Index_Fight</button>
                </div>
            </div>
        </div>
        <div data-tab="xpcalc" class="ui basic tab segment">XP Calc</div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('.menu .item').tab();
            $('select, .ui.dropdown').dropdown();
        });
    </script>
}